.button {
  @include font($name: $bold-font, $size: 16px);
  @include flex-row;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  width: 165px;
  height: 48px;
  margin: 0 auto;
  font-weight: 600;
  color: black;
  background: linear-gradient(to bottom, $lightblue, $blue);
  border-radius: 5px;
  box-shadow: 0 2px 5px 1px #a2a2a2;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 300ms;

  &:active {
    box-shadow: none;
  }
}
