html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include reset-mp;
  @include font($size: 16px);
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 15px;

  @media (min-width: 768px) {
    padding: 25px 30px;
  }

  @media (min-width: 992px) {
    padding: 30px 50px;
  }
}

h2 {
  font-size: 16px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 18px;
  }

  @media (min-width: 1200px) {
    font-size: 20px;
  }
}

.blue-text {
  font-family: "Lato Regular", "Helvetica", "Arial", sans-serif;
  color: $blue;
}

.icon-small {
  background: url("../img/sprite-small-icons.png") no-repeat;
}
