.infoblock {
  @include flex-row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: $blue;
  transition: top 400ms;
}

.infoblock__link {
  @include reset-link;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.infoblock__link-preview {
  display: block;
  background: url("../img/ic-preview.png") no-repeat;
  width: 35px;
  height: 30px;
}

.infoblock__link-link {
  display: block;
  background: url("../img/ic-link.png") no-repeat;
  width: 30px;
  height: 30px;
  margin-left: 15px;
}
