$regular-font: "Lato Regular";
$bold-font: "Lato Bold";

$blue: #2aacc8;
$lightblue: #81e4ed;
$lightgray: #e8ebf1;
$red: #e05936;

$text-color: #000000;

$logo-size: 50px;
$h1-size: 30px;
$h2-size: 20px;
$nav-size: 18px;
$text-size: 16px;
$btn-size: 18px;
