$regular-font: "Lato Regular";
$bold-font: "Lato Bold";

$blue: #2aacc8;
$lightblue: #81e4ed;
$lightgray: #e8ebf1;

$logo-size: 50px;
$h1-size: 50px;
$h2-size: 15px;
$nav-size: 13px;
$text-size: 14px;
$btn-size: 18px;
