.header {
  background-color: $lightgray;
}

.header__brand {
  @include font($name: "Lato Black", $size: 30px);
}

.navbar-toggler {
  &:active,
  &:focus {
    outline: none;
  }

  .navbar-toggler-icon {
    background: url("../img/icon-menu-open.svg") no-repeat center;
  }
}

.header__list {
  margin-top: 10px;
}

.header__item {
  @include font($name: "Lato Regular", $size: 16px);
  font-weight: 600;
  text-transform: uppercase;

  &:nth-child(4),
  &:nth-child(6) {
    color: #343D68;
  }
}

.header__nav-link {
  font: inherit;
  color: inherit;
}

@media (min-width: 576px) {
  .header__brand {
    font-size: 35px;
  }
}

@media (min-width: 768px) {
  .header__brand {
    font-size: 40px;
  }

  .header__list {
    margin-top: 0;
  }

  .header__list > .show {
    background-color: #ffffff;
  }

  .header__item {

    .dropdown-menu {
      top: 96%;
      padding-bottom: 3px;
      border: none;
    }

    .dropdown-item {
      font-size: inherit;
      border-bottom: 1px solid $lightgray;

      &:last-child {
        border-bottom: none;
      }
    }

    .dropdown-menu {
      border-bottom: 3px solid $blue;
    }
  }

  .header__nav-link {
    font-size: 14px;
    transition: 300ms;
    border-top: 3px solid transparent;

    &:hover {
      border-top: 3px solid $blue;
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}


@media (min-width: 992px) {
  .header__brand {
    font-size: 45px;
  }

  .header__item {
    margin: 2px;
  }

  .header__nav-link {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .header__brand {
    font-size: 50px;
  }

  .header__item {
    margin: 8px;
  }

  .header__nav-link {
    font-size: 22px;
  }
}
